Repository ArieGato/serilog-sinks-rabbitmq, pull requests merged in 2024-03, with the labels that each got.

#170 Fix package location in prerelease and release wokflows
  .github/workflows/publish-prerelease.yml
  .github/workflows/publish-release.yml
  .gitignore
Labels: CI

#173 Update project badges
  README.md
Labels: documentation

#180 Documentation changes
  CHANGELOG.md
  Directory.Build.props
  README.md
  Serilog.Sinks.RabbitMQ.sln
  samples/Net8FromCodeSample/Net8FromCodeSample.csproj
  samples/Net8FromCodeSample/Program.cs
  samples/Net8FromCodeSample/appsettings.json
  samples/NetFrameworkAppSettingsConfigSample/NetFrameworkAppSettingsConfigSample.csproj
  src/Serilog.Sinks.RabbitMQ/LoggerConfigurationRabbitMQExtensions.cs
  src/Serilog.Sinks.RabbitMQ/Serilog.Sinks.RabbitMQ.csproj
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/EmitEventFailureHandling.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/IRabbitMQChannel.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/IRabbitMQClient.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/IRabbitMQConnectionFactory.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQChannel.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQChannelObjectPoolPolicy.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQClient.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQClientConfiguration.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQConnectionFactory.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQSink.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQSinkConfiguration.cs
  stylecop.json
  tests/Serilog.Sinks.RabbitMQ.Tests.Integration/ConfigurationExtensionsFixture.cs
  tests/Serilog.Sinks.RabbitMQ.Tests.Integration/RabbitMQFixture.cs
  tests/Serilog.Sinks.RabbitMQ.Tests/Approval/Serilog.Sinks.RabbitMQ.approved.txt
  tests/Serilog.Sinks.RabbitMQ.Tests/RabbitMQ/RabbitMQSinkTests.cs
Labels: documentation, tests

#181 Add RabbitMQClientConfiguration.ClientProvidedName
  src/Serilog.Sinks.RabbitMQ/LoggerConfigurationRabbitMQExtensions.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQClientConfiguration.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQConnectionFactory.cs
  tests/Serilog.Sinks.RabbitMQ.Tests/Approval/Serilog.Sinks.RabbitMQ.approved.txt
Labels: tests

#182 Add RabbitMQClientConfiguration.RouteKeyFunction
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/IRabbitMQClient.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQClient.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQClientConfiguration.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQSink.cs
  tests/Serilog.Sinks.RabbitMQ.Tests/Approval/Serilog.Sinks.RabbitMQ.approved.txt
  tests/Serilog.Sinks.RabbitMQ.Tests/RabbitMQ/RabbitMQSinkTests.cs
Labels: tests

#185 Eliminate byte array allocation
  src/Serilog.Sinks.RabbitMQ/Serilog.Sinks.RabbitMQ.csproj
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/IRabbitMQClient.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQClient.cs
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQSink.cs
  tests/Serilog.Sinks.RabbitMQ.Tests.Integration/RabbitMQFixture.cs
  tests/Serilog.Sinks.RabbitMQ.Tests.Integration/RabbitMqClientTest.cs
  tests/Serilog.Sinks.RabbitMQ.Tests/RabbitMQ/RabbitMQClientTests.cs
  tests/Serilog.Sinks.RabbitMQ.Tests/RabbitMQ/RabbitMQSinkTests.cs
Labels: tests

#189 Configure coverlet
  .github/codecov.yml
Labels: CI

#190 Increase code coverage
  tests/Serilog.Sinks.RabbitMQ.Tests.Integration/AuditToRabbitMQSinkAuditTests.cs
  tests/Serilog.Sinks.RabbitMQ.Tests.Integration/RabbitMQFixture.cs
  tests/Serilog.Sinks.RabbitMQ.Tests.Integration/RabbitMqClientTest.cs
  tests/Serilog.Sinks.RabbitMQ.Tests.Integration/WriteToRabbitMQSinkTest.cs
  tests/Serilog.Sinks.RabbitMQ.Tests/RabbitMQ/RabbitMQSinkTests.cs
Labels: tests

#192 Remove username/password from ssl certificate authentication
  src/Serilog.Sinks.RabbitMQ/Sinks/RabbitMQ/RabbitMQSink.cs
  tests/Serilog.Sinks.RabbitMQ.Tests.Integration/RabbitMQFixture.cs
Labels: tests

#197 Multitarget for Microsoft.Extensions.ObjectPool
  src/Serilog.Sinks.RabbitMQ/Serilog.Sinks.RabbitMQ.csproj
Labels: dependencies
